<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
<h1>Приложение написано с целью помощи научному сообществу в работе со статьями</h1>
<p>Надеюсь мое приложение вам помогло</p>
<img src="https://sun9-53.userapi.com/s/v1/if2/Pax5_6qbUr6gjmopihciGT48oePpcbXM3qXJAwWRG1HuOVtI6uST5bLfCCNCRs62FK43tMzWuQEaJj6jKT6MBUgh.jpg?size=1280x1136&quality=96&type=album",width="300" height="400">

<h2>Работу выполнял студент новосибирского отделения Калинин Владислав Алексеевич </h2>
<li><a href="/main" class="nav-link px-2 link-secondary">Home</a></li>
</body>
</html>
